# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b3B0aW1hbC10cmVlZnJvZy0xMi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_EyQ1taN9yYjcE9kue0UFqqXNFBNoQnJ2dHgVeMBJTf
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/chat
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/chat

# Convex - Using existing cloud deployment
NEXT_PUBLIC_CONVEX_URL=https://flexible-penguin-18.convex.cloud

# Deployment used by ⁠ npx convex dev ⁠
CONVEX_DEPLOYMENT=dev:flexible-penguin-18 # team: moreomi7268, project: tara

NEXT_PUBLIC_CONVEX_SITE_URL=https://flexible-penguin-18.convex.site